* {
	margin:0;
	padding:0;
	font-family:'Segoe UI', Arial, sans-serif;
}
img {
	border:0;
}

body {
	background:#FFFDDF;
}

li {
	list-style-position:inside;
}

#heading {
	text-align: center;
	padding:2em 0.5em;
	background:#fffddf;
	border-bottom:5px solid #ffe589;
}

.leftcontent {
	float:left;
}
.rightcontent {
	float:right;
}

.idcontainer {
	width:27em;
	margin:0 auto;
}

.basicinfo {
	text-align:center;
	padding:3em 0 3em;
	background:#fff url('images/rainbow.png') top repeat-x;
	border-bottom:5px solid #ffe589;
}

.basicinfo .rightcontent {
	padding:1em 2em;
}
.basicinfo .info {
	margin:1em 0 0;
	font-style:italic;
}

.skillset {
	float:left;
	width:23%;
	padding:0 7px;
	text-align:left;
}
.skillset h3 {
	border-bottom:1px solid #ccc;
	margin:0.5em 0;
}

#content {
	text-align: center;
}

.section {
	border: 1px solid #ccc;
	background:#fff url('images/rainbow-bw.png') top repeat-x;
	margin:2em;
	padding:1em;
	border-radius:5px;
}

.section.points .inner {
	text-align:left;
	padding:1em 2em;
}
.section.points .inner > ul > li, .section.points .inner > ol > li {
	font-weight:bold;
	margin:0.5em 0;
}
.section.points ul ul {
	padding-left:2em;
}

#footer {
	padding:0 0 2em 0;
	text-align:center;
	color:#bbb;
}

/* --- RESPONSIVE --- */

/* --- Little smaller than 1024 --- */
@media only screen and (max-width: 900px) {
	.skillset {
		width:48%;
	}
}

/* --- Tablet --- */

@media only screen and (max-width: 768px) {
	.skillset {
		width:45%;
	}
}

/* --- Mobile Phone --- */

@media only screen and (max-width: 480px) {
	#heading {
		padding:1em 0.5em;
	}
	#heading h2 {
		font-size:100%;
	}
	#heading h1 {
		font-size:130%;
	}
	.portrait-thumb {
		float:none;
	}
	.portrait-text {
		float:none;
	}
	.idcontainer {
		width:100%;
	}
	.basicinfo .info {
		margin:1em;
	}
	.skillset {
		width:100%;
		float:none;
		border:none;
	}
	.section {
		padding:0.5em;
		margin:0.5em;
	}
	.section.points .inner {
		padding:1em;
	}
}